<?xml version="1.0" encoding="utf-8" ?>

	<!-- Place this section in your Web.Config
<configSections>
	<section name="sitemapXmlHandler" type="Constellation.Sitecore.HttpHandlers.SitemapXmlHandlerConfiguration, Constellation.Sitecore.Seo"/>
</configSections>
	
<sitemapXmlHandler configSource="App_Config\Constellation.Sitecore.SitemapXmlHandler.config" />
end Web.Config section -->

<sitemapXmlHandler
	crawlerType="Constellation.Sitecore.HttpHandlers.SitemapXml.DefaultCrawler, Constellation.Sitecore.Seo"
	sitemapNodeType="Constellation.Sitecore.HttpHandlers.SitemapXml.DefaultSitemapNode, Constellation.Sitecore.Seo"
	cacheTimeoutMinutes="45" />

