#folders
[Bb]in
Databases/
[Bb]in/[Dd]ebug*/
!*.Web/[Ss]itecore*/[Dd]ebug/
obj/
[Bb]in/[Rr]elease*/
_ReSharper*/

#files
*.[Dd]ebug.config
Thumbs.db
[Tt]est[Rr]esult*
*.Web/[Ww]eb.[Cc]onfig
*.nupkg
[Nn]u[Gg]et.exe

#extensions
*_i.c
*_p.c
*.aps
*.bak
*.cache
*.docstates
*.exe
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.suo
*.tlb
*.tlh
*.tmp
*.user
*.vspscc


