<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Html" version="3.0.5519.21831" targetFramework="net45" />
  <package id="Constellation.Sitecore" version="3.0.5519.22168" targetFramework="net45" />
  <package id="Constellation.Web" version="3.0.5519.21704" targetFramework="net45" />
  <package id="Constellation.WebForms" version="3.0.5519.21934" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
</packages>