<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Spark.Html" version="1.0.5141.21250" targetFramework="net45" />
  <package id="Spark.Sitecore" version="1.0.5141.22776" targetFramework="net45" />
  <package id="Spark.Web" version="1.0.5141.28331" targetFramework="net45" />
  <package id="Spark.WebForms" version="1.0.5141.28929" targetFramework="net45" />
</packages>