<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor patch:instead="*[@type='Sitecore.Pipelines.HttpRequest.LanguageResolver, Sitecore.Kernel']" type="Constellation.Sitecore.Pipelines.HttpRequest.LanguageResolver, Constellation.Sitecore.Seo">
					<PathsToIgnore>/default, /~/icon, /~/media, /maintenance, /sitecore, /sitecore modules, /_</PathsToIgnore>
					<DatabasesToIgnore>core</DatabasesToIgnore>
					<SitesToIgnore>admin, login, modules_shell, modules_website, publisher, scheduler, service, shell, system, testing, website</SitesToIgnore>
				</processor>
				<processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.LanguageResolver, Sitecore.Kernel']" type="Constellation.Sitecore.Pipelines.HttpRequest.PageNotFoundResolver, Constellation.Sitecore.Seo">
					<PathsToIgnore>/default, /~/icon, /~/link, /~/media, /maintenance, /sitecore, /sitecore modules, /_</PathsToIgnore>
					<DatabasesToIgnore>core, master</DatabasesToIgnore>
					<SitesToIgnore>admin, login, media, modules_shell, modules_website, publisher, scheduler, service, shell, system, testing, website</SitesToIgnore>
				</processor>
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>
